asgiref==3.8.1
behave==1.2.6
colorama==0.4.6
Django==5.2
django-cors-headers==4.7.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
greenlet==3.1.1
iniconfig==2.1.0
javascript==1!1.2.2
packaging==25.0
parse==1.20.2
parse_type==0.6.4
pillow==11.2.1
pluggy==1.6.0
Pygments==2.19.1
PyJWT==2.9.0
pytest==8.4.1
six==1.17.0
SQLAlchemy==2.0.40
sqlparse==0.5.3
typing_extensions==4.13.1
tzdata==2025.2
